{{ if or .ctx.Content .block.heading }}
    <div class="content container">
        {{ with .block.heading }}
            <header class="major">
                <h2>{{ . }}</h2>
                {{ with $.block.sub_heading }}
                    {{- $html := $.block.sub_heading | markdownify }}
                    {{- if (findRE "<p(?: [^>]*)?>" $html) }}
                        {{ $html }}
                    {{- else -}}
                        <p>{{ $html }}</p>
                    {{- end }}
                {{ end }}
            </header>
        {{ end }}
        {{ with .ctx.Content }}
            <article class="content">
                {{ . }}
            </article>
        {{ end }}
    </section>
{{ end }}