<section class="wrapper style1">
    <div class="container">
        {{ with .item.heading }}<h2>{{ . }}</h2>{{ end }}
        {{- $pages := (.ctx.Site.GetPage .item.content_type).RegularPagesRecursive }}
        {{- range $idx, $itm := first (.item.max | default 4) $pages }}
            {{- $rowpos := mod $idx 2 }}
            {{- if eq $rowpos 0 }}
                <div class="row">
            {{ end }}

            {{- .Render "shortblock" -}}

            {{ if or (eq $rowpos 1) (eq $idx (len $pages)) -}}
                </div>
            {{- end }}
        {{- end }}
    </div>
</section>
