<!DOCTYPE HTML>
<html lang="{{ .Language }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- template "_internal/opengraph.html" . -}}
    </head>
    <body class="is-preload">
        {{- partial "analytics/google-tag-manager/body.html" . }}

        <div id="page-wrapper">
            {{- partial "header.html" . }}
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>
