{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        {{ with .Description -}}
            <p>{{ . }}</p>
        {{- end }}
    </header>

    {{- if .Params.image }}
    <span class="image featured">
	{{- $alt := .Params.image_alt -}}
	{{- with $img := resources.Get .Params.image -}}
        <img src="{{ .RelPermalink }}" alt="{{- $alt -}}" />
	{{- else -}}
        <img src="{{ .Params.image | relURL }}" alt="{{- $alt -}}" />
	{{- end -}}
    </span>
    {{ end }}

    {{ range .RegularPages }}
        {{ .Render "shortblock" }}
    {{ end }}

{{ end }}
