<section class="col-6 col-12-narrower">
    <div class="box post">
        <a href="{{ .RelPermalink }}" class="image left"><img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}" /></a>
        <div class="inner">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ if .Site.Params.show_post_dates | default true }}
                {{- with .Date }}<time>{{ . | time.Format ":date_medium" }}</time>{{ end }}
            {{ end }}
            <p>
                {{ with .Description }}
                    {{- . }}
                {{- else }}
                    {{- .Summary }}
                {{- end }}
            </p>
        </div>
    </div>
</section>
