{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        {{ if .Site.Params.show_post_dates | default true }}
            {{- with .Date }}<time>{{ . | time.Format ":date_medium" }}</time>{{ end }}
        {{ end }}
        {{ partial "tags.html" . }}
    </header>

    {{- if .Params.image -}}
    <span class="image featured">
	{{- $alt := .Title -}}
	{{- $img := resources.Get .Params.image -}}
	{{- with $img -}}
	    {{ $image_options := $.Site.Params.image_options | default "webp q90 lanczos photo" -}}
	    <picture>
	    {{ range $width := slice 1920 1600 1366 900 600 360 }}
	    {{ if le $width $img.Width }}
		{{- with $img.Resize ( printf "%dx %s" $width $image_options ) }}
		<source srcset="{{ .RelPermalink }}" type="{{- .MediaType.Type -}}" media="(max-width: {{- .Width -}}px)">
		{{- end }}
	    {{- end }}
	    {{- end }}
	    {{- with $img.Resize ( printf "%dx%d %s" $img.Width $img.Height $image_options ) -}}
		<img loading="lazy" src='{{ .RelPermalink }}' type="{{- .MediaType.Type -}}" width="{{- .Width -}}" height="{{- .Height -}}" class='img-fluid' alt='{{ $alt }}' />
	    {{- end -}}
	    </picture>
	{{- else -}}
        <img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}" />
	{{- end -}}
    </span>
    {{ end }}

    {{- .Content }}
{{ end }}
