<div
    class="background-image"
    style="
        background-image:
            linear-gradient(
                {{ .gradientDirection | default "to right" }},
                {{ .gradientStartColor | default "#00000000" }} {{ .gradientStartPosition | default "0" }},
                {{ with .gradientMidPosition }} {{ . }}, {{ end }}
                {{ .gradientFinishColor | default "#00000000" }} {{ .gradientFinishPosition | default "100%" }}
            ),
            url('{{ .url | relURL }}');
        background-position: {{ with .backgroundPosition }} {{ . }}; {{ else }} left center; {{ end }}
        {{ with .backgroundColor }} background-color: {{ . }}; {{ end }}
        {{ with .backgroundSize }} background-size: {{ . }}; {{ end }}
        {{ with .height }} height: {{ . }}; {{ end }}
    "
>

    {{ if .heading }}
        <div class="caption">
            <h1>{{ .heading }}</h1>
            {{ with .subheading }}
                <p>{{ . }}</p>
            {{ end }}
        </div>
    {{ end }}
</div>
