<div id="titleBar">
    <a href="#navPanel" class="toggle"></a>
    <span class="title">{{ .Site.Title }}</span>
</div>

<div id="header" >
    <nav id="nav">
        <div id="homeNav">
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Title }}</h1>
            </a>
        </div>
        
        <div id="menuNav">
            <ul>
                {{- range .Site.Menus.main }}
                    <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                        <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                        {{- if .HasChildren -}}
                        <ul>
                            {{- range .Children }}
                            <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                                <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                                {{- if .HasChildren -}}
                                <ul>
                                    {{- range .Children }}
                                    <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                                        {{/* aoeu fix 'current' thing */}}
                                        <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                                    {{- end }}
                                </ul>
                                {{- end -}}
                            {{- end }}
                        </ul>
                        {{- end -}}
                {{- end }}
            </ul>
        </div>

        <div id="emptyNav"></div>
    </nav>


    {{ with .Params.headerImageUrl }}
        {{ $getMatchResourceUrlParameters := newScratch }}
        {{ $getMatchResourceUrlParameters.Set "context" $ }}
        {{ $getMatchResourceUrlParameters.Set "resourceName" . }}
        {{ $getMatchResourceUrlParameters.Set "id" $.Title }}
        {{ $headerImageUrl := partial "get-match-resource-url.html" $getMatchResourceUrlParameters }}

        {{ partial "background-image.html"
            (dict 
                "content" .
                "url" $headerImageUrl
                "backgroundPosition" $.Params.headerImageBackgroundPosition
                "backgroundColor" $.Params.headerImageBackgroundColor
                "backgroundSize" $.Params.headerImageBackgroundSize
                "gradientStartColor" $.Params.headerImageGradientStartColor
                "gradientStartPosition" $.Params.headerImageGradientStartPosition
                "gradientMidPosition" $.Params.headerImageGradientMidPosition
                "gradientFinishColor" $.Params.headerImageGradientFinishColor
                "gradientFinishPosition" $.Params.headerImageGradientFinishPosition
                "heading" $.Params.headerImageHeading
                "subheading" $.Params.headerImageSubHeading
                "height" $.Params.headerImageHeight
            )
        }}
    {{ end }}
</div>
