{{ $globalLogoEnabled := true }}

{{ with .Site.Data.globalheader }}
    {{ with .logo }}
        {{ $globalLogoEnabled = .enable }}
    {{ end }}
{{ end }}

<div id="{{ cond $globalLogoEnabled "header" "header-without-global-logo" }}" >
    {{ if $globalLogoEnabled }}
        <h1><a href="{{ .Site.BaseURL }}" id="logo">
            {{ with .Site.Data.globalheader.title }}{{ . | markdownify }}{{ else }}{{ .Site.Title }}{{ end }}
        </a></h1>
    {{ end }}

    <nav id="nav">
        <ul>
            {{- range .Site.Menus.main }}
                <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                    <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                    {{- if .HasChildren -}}
                    <ul>
                        {{- range .Children }}
                        <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                            <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                            {{- if .HasChildren -}}
                            <ul>
                                {{- range .Children }}
                                <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                                    {{/* aoeu fix 'current' thing */}}
                                    <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                                {{- end }}
                            </ul>
                            {{- end -}}
                        {{- end }}
                    </ul>
                    {{- end -}}
            {{- end }}
        </ul>
    </nav>
</div>
